.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #010101;
}

.box {
  width: 350px;
  height: 120px;
  background-color: antiquewhite;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hwb(0 27% 73%);
}

.stat-list {
  display: flex;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 80px;
}

.label {
  font-size: 15px;
  padding-bottom: 5px;
}

.percentage {
  font-size: 25px;
}
